BasedOnStyle: LLVM
IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 80
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: true
AllowShortFunctionsOnASingleLine: true
AlignAfterOpenBracket: BlockIndent
